src/Extra/org/objectweb/proactive/extra/gcmdeployment/GCMDeployment/BridgeSchemas/BridgeOARSHSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:gcm:deployment:1.0"
	xmlns="urn:gcm:deployment:1.0"
	elementFormDefault="qualified">

	<xs:include schemaLocation="../../schema/DeploymentDescriptorSchema.xsd"/>
	
	<xs:include schemaLocation="BridgeSSHSchema.xsd" />

	<xs:complexType name="bridgeTypeOARSH">
		<xs:complexContent>
			<xs:extension base="bridgeTypeSSH">
				<xs:attribute name="jobId" type="PosintOrVariableType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="oarshBridge" type="bridgeTypeOARSH" substitutionGroup="abstractBridgeElement"/>
</xs:schema>
