src/Extra/org/objectweb/proactive/extra/gcmdeployment/GCMDeployment/group/GroupGridBusSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:gcm:deployment:1.0"
	xmlns="urn:gcm:deployment:1.0"
	elementFormDefault="qualified">
	
	<xs:include schemaLocation="../../schema/DeploymentDescriptorSchema.xsd"/>	

	<xs:complexType name="gridbusProcessType">
		<xs:complexContent>
			<xs:extension base="abstractGroupSchedulerElementType">
				<xs:sequence>
					<xs:element name="arguments" type="argumentListType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="gridbusGroup" type="gridbusProcessType" substitutionGroup="abstractShElement"/>

</xs:schema>