src/Extra/org/objectweb/proactive/extra/gcmdeployment/GCMDeployment/GroupSchemas/GroupPBSSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:paext="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:pa="http://www-sop.inria.fr/oasis/ProActive/schemas" elementFormDefault="qualified">

	<import schemaLocation="../../schema/DeploymentDescriptorSchema.xsd"
		namespace="http://www-sop.inria.fr/oasis/ProActive/schemas">
	</import>

	<!-- the Prun group schema is needed because the pbsoption element derives from prunoption -->
	<include schemaLocation="GroupPrunSchema.xsd" />

	<!--PBSProcess-->
	<complexType name="PbsProcessType">
		<complexContent>
			<extension base="pa:abstractGroupElementType">
				<sequence>
					<element name="hostsNumber" type="positiveInteger" minOccurs="0" />
				</sequence>
				<attribute name="interactive" type="pa:BooleanOrVariableType" use="optional" />
				<attribute name="queue" type="string" use="optional" />
				<attribute name="jobName" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<element name="pbsGroup" type="paext:PbsProcessType" substitutionGroup="pa:abstractShElement" />

</schema>