src/Extra/org/objectweb/proactive/extra/gcmdeployment/GCMDeployment/GroupSchemas/GroupGridEngineSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:paext="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:pa="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchema"
	xmlns:ct="http://www-sop.inria.fr/oasis/ProActive/schemas/CommonTypes"
	elementFormDefault="qualified">

	<import schemaLocation="../../schema/DeploymentDescriptorSchema.xsd"
		namespace="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchema">
	</import>
	<import schemaLocation="../../schema/CommonTypes.xsd"
		namespace="http://www-sop.inria.fr/oasis/ProActive/schemas/CommonTypes">
	</import>

	<!--gridEngine process -->
	<complexType name="GridEngineProcessType">
		<complexContent>
			<extension base="pa:abstractGroupElementType">
				<sequence>
					<element name="commandPath"
						type="ct:pathElementGeneralType" minOccurs="0" />
					<element name="gridEngineOption"
						type="paext:GridEngineOptionType" />
				</sequence>
				<attribute name="queue" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GridEngineOptionType">
		<all>
			<element name="hostsNumber" type="ct:PosintOrVariableType" />
			<element name="bookingDuration"
				type="ct:PosintOrVariableType" />
			<element name="scriptPath" type="ct:pathElementGeneralType" />
			<element name="hostlist" type="ct:TextOrVariableType"
				minOccurs="0" />
			<element name="parallelEnvironment"
				type="ct:TextOrVariableType" minOccurs="1" maxOccurs="1" />
		</all>
	</complexType>

</schema>