src/Extra/org/objectweb/proactive/extra/gcmdeployment/GCMDeployment/GroupSchemas/GroupOARSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:paext="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:pa="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchema"
	xmlns:ct="http://www-sop.inria.fr/oasis/ProActive/schemas/CommonTypes"
	elementFormDefault="qualified">

	<import schemaLocation="../../schema/DeploymentDescriptorSchema.xsd"
		namespace="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchema">
	</import>
	<import schemaLocation="../../schema/CommonTypes.xsd"
		namespace="http://www-sop.inria.fr/oasis/ProActive/schemas/CommonTypes">
	</import>

	<!--oarProcess-->
	<complexType name="oarProcessType">
		<complexContent>
			<extension base="pa:abstractGroupElementType">
				<attribute name="bookedNodesAccess" use="optional">
					<simpleType>
						<restriction base="string">
							<enumeration value="rsh" />
							<enumeration value="ssh" />
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="interactive"
					type="ct:BooleanOrVariableType" use="optional" />
				<attribute name="queue" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--oarOption-->
	<complexType name="OarOptionType">
		<all>
			<element name="resources" type="ct:TextOrVariableType"
				minOccurs="0" />
			<!--<element name="properties" type="string" minOccurs="0"/>-->
			<element name="scriptPath" type="ct:pathElementType"
				minOccurs="0" />
		</all>
	</complexType>

</schema>