src/Extra/org/objectweb/proactive/extra/gcmdeployment/GCMDeployment/GroupSchemas/GroupOARSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:paext="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:pa="http://www-sop.inria.fr/oasis/ProActive/schemas"
	elementFormDefault="qualified">

	<import schemaLocation="../../schema/DeploymentDescriptorSchema.xsd"
		namespace="http://www-sop.inria.fr/oasis/ProActive/schemas">
	</import>

	<!--oarProcess-->
	<complexType name="oarProcessType">
		<complexContent>
			<extension base="pa:abstractGroupElementType">
				<sequence>
					<element name="oarOption" type="paext:oarOptionType" />
				</sequence>
				<attribute name="bookedNodesAccess" use="optional">
					<simpleType>
						<restriction base="string">
							<enumeration value="rsh" />
							<enumeration value="ssh" />
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="interactive"
					type="pa:BooleanOrVariableType" use="optional" />
				<attribute name="queue" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<!--oarOption-->
	<complexType name="oarOptionType">
		<all>
			<element name="resources" type="pa:TextOrVariableType"
				minOccurs="0" />
			<!--<element name="properties" type="string" minOccurs="0"/>-->
			<element name="scriptPath" type="pa:pathElementType"
				minOccurs="0" />
		</all>
	</complexType>

	<element name="oarGroup" type="paext:oarProcessType" substitutionGroup="pa:abstractShElement"/>

</schema>