src/Extra/org/objectweb/proactive/extra/gcmdeployment/GCMDeployment/GroupSchemas/GroupPrunSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:paext="http://www-sop.inria.fr/oasis/ProActive/schemas/DeploymentDescriptorSchemaExtension"
	xmlns:pa="http://www-sop.inria.fr/oasis/ProActive/schemas"
	elementFormDefault="qualified">

	<import schemaLocation="../../schema/DeploymentDescriptorSchema.xsd"
		namespace="http://www-sop.inria.fr/oasis/ProActive/schemas">
	</import>

	<complexType name="prunProcessType">
		<complexContent>
			<extension base="pa:abstractGroupElementType">
				<sequence>
					<element name="prunOption" type="paext:prunOptionType"
						minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute name="queue" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	<!--prunOption element has three childs:hostlist which represents the -m option of bsub command, processor which indicate the number of processor requested, scriptPath element which represents the location of the startRuntime.sh script to run jobs on LSF cluster.These three elements may not appear -->
	<complexType name="prunOptionType">
		<sequence>
			<element name="hostlist" type="pa:ListType" minOccurs="0" />
			<element name="hostsNumber" type="pa:PosintOrVariableType"
				minOccurs="0" />
			<element name="processorPerNode" type="pa:PosintOrVariableType"
				minOccurs="0" />
			<element name="bookingDuration" type="pa:TimeOrVariableType"
				minOccurs="0" />
			<element name="outputFile" type="pa:TextOrVariableType"
				minOccurs="0" />
		</sequence>
	</complexType>

</schema>