descriptors/ProcessSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- 
The following element ProActiveDescriptor defines the root of the schema
-->
	<xs:element name="ProActiveDescriptor" type="ProActiveDescriptorType">
		<xs:annotation>
			<xs:documentation>Deployment Descriptor Schema</xs:documentation>
		</xs:annotation>
		<xs:unique name="processDefid">
			<xs:selector xpath="infrastructure/processes/processDefinition"/>
			<xs:field xpath="@id"/>
			<!--Uniqueness of the id attribute for infrastructure/processes/processDefinition element-->
		</xs:unique>
		<xs:keyref name="rshprocessReferenceid" refer="processid">
					<xs:selector xpath="infrastructure/processes/processDefinition/rshProcess/processReference"/>
					<xs:field xpath="@refid"/>
					<!--This section references the processid key defined above to ensure that the refid attribute defined in  processes/processDefinition/rshProcess/processReference has a corresponding value in infrastructure/processes/processDefinition@id-->
		</xs:keyref>
		<xs:keyref name="sshprocessReferenceid" refer="processid">
			<xs:selector xpath="infrastructure/processes/processDefinition/sshProcess/processReference"/>
			<xs:field xpath="@refid"/>
					<!--This sectionreferences the processid key defined above to ensure that the refid attribute defined in  processes/processDefinition/sshProcess/processReference has a corresponding value in infrastructure/processes/processDefinition@id-->
		</xs:keyref>
		<xs:keyref name="rloginprocessReferenceid" refer="processid">
			<xs:selector xpath="infrastructure/processes/processDefinition/rloginProcess/processReference"/>
			<xs:field xpath="@refid"/>
		<!--This section references the processid key defined above to ensure that the refid attribute defined in  processes/processDefinition/rloginProcess/processReference has a corresponding value in infrastructure/processes/processDefinition@id-->
		</xs:keyref>
		<xs:keyref name="bsubprocessReferenceid" refer="processid">
			<xs:selector xpath="infrastructure/processes/processDefinition/bsubProcess/processReference"/>
			<xs:field xpath="@refid"/>
			<!--This section references the processid key defined above to ensure that the refid attribute defined in  processes/processDefinition/bsubProcess/processReference has a corresponding value in infrastructure/processes/processDefinition@id-->
		</xs:keyref>
		<xs:keyref name="globusprocessReferenceid" refer="processid">
			<xs:selector xpath="infrastructure/processes/processDefinition/globusProcess/processReference"/>
			<xs:field xpath="@refid"/>
			<!--This section references the processid key defined above to ensure that the refid attribute defined in  processes/processDefinition/globusProcess/processReference has a corresponding value in infrastructure/processes/processDefinition@id-->
		</xs:keyref>
		<xs:key name="processid">
			<xs:selector xpath="infrastructure/processes/processDefinition"/>
			<xs:field xpath="@id"/>
			<!-- Key definition for the attribute id located at  infrastructure/processes/processDefinition. This key will be used to ensure either that the refid attribute defined in deployment/jvms/jvm/creation/ has a correponding value in infrastructure/processes/processDefinition@id and also that the refid attribute defined in infrastructure/processDefinition/rshProcess-sshProcess-rloginProcess-bsubProcess-globusProcess/processReference@refid has a correponding value in infrastructure/processes/processDefinition@id -->
		</xs:key>
	</xs:element>
	<!--processReference element is defined as a global element, hence it can be referenced in many part of the document. It has one attribute: refid that must occur once and only once. This element must reference a process defined elsewhere in the infrastructure section. Hence in the infrastructure section there must be an element ProcessDefinition with the corresponding value for id attribute   -->
	<xs:element name="processReference" type="ProcessReferenceType"/>
	<xs:complexType name="ProcessReferenceType">
		<xs:attribute name="refid" type="xs:string" use="required"/>
	</xs:complexType>
	<!--environment element is defined as global element, hence it can be referenced in many part of the document. It has one child: variable element that must occur once and only once. This element is used to defined environment variables for some processes. -->
	<xs:element name="environment" type="EnvironmentType"/>
	<xs:complexType name="EnvironmentType">
		<xs:sequence>
			<xs:element name="variable" type="EnvironmentVariableType"/>
		</xs:sequence>
	</xs:complexType>
	<!--variable element has two attributes: name and value. Both are required.The syntax is for instance name="DISPLAY" value="machine_name0.0"  -->
	<xs:complexType name="EnvironmentVariableType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<!--ProActiveDescriptor element has one childs: infrastructure element that must appear once and only once -->
	<xs:complexType name="ProActiveDescriptorType">
		<xs:sequence>
			<xs:element name="infrastructure" type="InfrastructureType"/>
		</xs:sequence>
	</xs:complexType>
	<!--infrastructure element has one child: processes element that must appear once and only once -->
	<xs:complexType name="InfrastructureType">
		<xs:sequence>
			<xs:element name="processes" type="ProcessesType"/>
		</xs:sequence>
	</xs:complexType>
	<!--processes element has one child: processDefinition element that must appear once or more -->
	<xs:complexType name="ProcessesType">
		<xs:sequence>
			<xs:element name="processDefinition" type="ProcessDefinitionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- processDefinition element has six childs: jvmProcess, rshProcess, sshProcess, rloginProcess, bsubProcess, globusProcess. But only one child can be present in the parent element. Such processes will be used to create jvms. This element contains also an attribute: id which must appear once and only once and represents the id of the process in order for processes or  jvms(processReference element in deployment/jvms/jvm/creation/processReference)  to reference other processes-->
	<xs:complexType name="ProcessDefinitionType">
		<xs:choice>
			<xs:element name="jvmProcess" type="JvmProcessType"/>
			<xs:element name="rshProcess" type="RshProcessType"/>
			<xs:element name="sshProcess" type="SshProcessType"/>
			<xs:element name="rloginProcess" type="RloginProcessType"/>
			<xs:element name="bsubProcess" type="BsubProcessType"/>
			<xs:element name="globusProcess" type="GlobusProcessType"/>
		</xs:choice>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<!--jvmProcess element has five childs: classpath, javaPath, policyFile, log4jpropertiesFile, jvmParameters. They may not appear. classpath element represents the classpath value for the enclosing jvmProcess. javaPath represents the location of the java command to run for the jvmProcess. policyFile element represents the location of the policy file to use in the jvmProcess.log4jpropertiesFilerepresents the location of the log4j properties file.  jvmParameters element represents all options(except of course classpath and policy file) that can be given to the the jvm. This element has also one attribute: class which is required. This attribute can take only one value: org.objectweb.proactive.core.process.JVMNodeProcess. This element is used to create a local jvm-->
	<xs:complexType name="JvmProcessType">
		<xs:sequence>
			<xs:element name="classpath" type="ClasspathType" minOccurs="0"/>
			<xs:element name="javaPath" type="FilePathType" minOccurs="0"/>
			<xs:element name="policyFile" type="FilePathType" minOccurs="0"/>
			<xs:element name="log4jpropertiesFile" type="FilePathType" minOccurs="0"/>
			<xs:element name="jvmParameters" type="JvmParameterType" minOccurs="0"/>
			<xs:element name="classname" type="xs:string" minOccurs="0"/>
			<xs:element name="parameters" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="class" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="org.objectweb.proactive.core.process.JVMProcessImpl"/>
					<xs:enumeration value="org.objectweb.proactive.core.process.JVMNodeProcess"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!--classpath element has two child: absolutePath and relativePath.  One of the child must appear once or more. Both element can be present in the classpath definition. For instance an absolutePath element followed by a relativePath element-->
	<xs:complexType name="ClasspathType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="absolutePath" type="AbsolutePathType"/>
			<xs:element name="relativePath" type="RelativePathType"/>
		</xs:choice>
	</xs:complexType>
	<!--elements of type FilePathType have two childs: absolutePath and relativePath. Only one child can be present in the parent element. javaPath, policyFile(defined above), and scriptPath element  are of such type.-->
	<xs:complexType name="FilePathType">
		<xs:choice>
			<xs:element name="absolutePath" type="AbsolutePathType"/>
			<xs:element name="relativePath" type="RelativePathType"/>
		</xs:choice>
	</xs:complexType>
	<!-- path element of type RelativePathType has three attributes:type which is fixed with value relative, origin which can take three values, and value.  -->
	<xs:complexType name="RelativePathType">
		<xs:attribute name="type" type="xs:string" use="required" fixed="relative"/>
		<xs:attribute name="origin" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="userHome"/>
					<xs:enumeration value="workingDirectory"/>
					<xs:enumeration value="fromClasspath"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- path element of type AbsolutePathType has two attributes:type which is fixed with value absolute and value which is required.  -->
	<xs:complexType name="AbsolutePathType">
		<xs:attribute name="type" type="xs:string" use="required" fixed="absolute"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<!--jvmParameters represents options to be passed to the jvm. It is represented by a list of srings -->
	<xs:simpleType name="JvmParameterType">
		<xs:list itemType="xs:string"/>
	</xs:simpleType>
	<!--rshProcess element has two childs: processReference element which represents a process defined elsewhere in the infrastructure section(ProcessDefinition@id). Most of time  the referenced process will be a jvmProcess, it means once logged on a remote host with rsh protocol a jvm will be created on the remote host.This element has also an environment element that may not appear and three attributes: class which is required and can take only three values: org.objectweb.proactive.core.process.rsh.RSHNodeProcess, org.objectweb.proactive.core.process.rsh.RSHJVMProcess or org.objectweb.proactive.core.process.rsh.RSHProcess, username attribute which is optional, and hostname which is required and represents the remote host to log on with rsh-->
	<xs:complexType name="RshProcessType">
		<xs:sequence>
			<xs:element ref="environment" minOccurs="0"/>
			<xs:element ref="processReference" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="class" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="org.objectweb.proactive.core.process.rsh.RSHNodeProcess"/>
					<xs:enumeration value="org.objectweb.proactive.core.process.rsh.RSHJVMProcess"/>
					<xs:enumeration value="org.objectweb.proactive.core.process.rsh.RSHProcess"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="username" type="xs:string" use="optional"/>
		<xs:attribute name="hostname" type="xs:string" use="required"/>
	</xs:complexType>
	<!--sshProcess element has two child: processReference element which represents a process defined elsewhere in the infrastructure section(ProcessDefinition@id).and environment element that may not appear and three attributes: class which is required and can take only three values: org.objectweb.proactive.core.process.rsh.SSHNodeProcess, org.objectweb.proactive.core.process.ssh.SSHJVMProcess or org.objectweb.proactive.core.process.ssh.SSHProcess, username attribute which is optional, and hostname which is required and represents the remote host to log on with ssh-->
	<xs:complexType name="SshProcessType">
		<xs:sequence>
			<xs:element ref="environment" minOccurs="0"/>
			<xs:element ref="processReference" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="class" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="org.objectweb.proactive.core.process.rsh.SSHNodeProcess"/>
					<xs:enumeration value="org.objectweb.proactive.core.process.ssh.SSHJVMProcess"/>
					<xs:enumeration value="org.objectweb.proactive.core.process.ssh.SSHProcess"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="username" type="xs:string" use="optional"/>
		<xs:attribute name="hostname" type="xs:string" use="required"/>
	</xs:complexType>
	<!--rloginProcess element has two childs: processReference element which represents a process defined elsewhere in the infrastructure section(ProcessDefinition@id) and environment element that may not appear and two attributes: class which is required and can take only one value: org.objectweb.proactive.core.process.lsf.RLoginProcess, and hostname which is required and represents the remote host to log on with rlogin-->
	<xs:complexType name="RloginProcessType">
		<xs:sequence>
			<xs:element ref="environment" minOccurs="0"/>
			<xs:element ref="processReference" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" fixed="org.objectweb.proactive.core.process.lsf.RLoginProcess"/>
		<xs:attribute name="hostname" type="xs:string" use="required"/>
	</xs:complexType>
	<!--bsubProcess element has two childs: processReference element which represents a process defined elsewhere in the infrastructure section(ProcessDefinition@id)  and may not appear, bsubOption element that may not appear and represents different options of bsub command and three attributes: class which is required and can take only one value: org.objectweb.proactive.core.process.lsf.LSFBSubProcess, interactive which is optinal to run bsub command in interactive mode, and queue to specify in which queue to run the job.This element will be used to run bsub command-->
	<xs:complexType name="BsubProcessType">
		<xs:sequence>
			<xs:element ref="processReference" minOccurs="0"/>
			<xs:element name="bsubOption" type="BsubOptionType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" fixed="org.objectweb.proactive.core.process.lsf.LSFBSubProcess"/>
		<xs:attribute name="interactive" type="xs:boolean" use="optional"/>
		<xs:attribute name="queue" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="normal"/>
					<xs:enumeration value="priority"/>
					<xs:enumeration value="night"/>
					<xs:enumeration value="short"/>
					<xs:enumeration value="idle"/>
					<xs:enumeration value="exclusive"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!--bsubOption element has three childs:hostlist which represents the -m option of bsub command, processor which indicate the number of processor requested, scriptPath element which represents the location of the startRuntime.sh script to run jobs on LSF cluster.These three elements may not appear -->
	<xs:complexType name="BsubOptionType">
		<xs:sequence>
			<xs:element name="hostlist" type="HostListType" minOccurs="0"/>
			<xs:element name="processor" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="scriptPath" type="FilePathType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--hostlist element is a list of string. For instance galere10.inria.fr pf3.inria.fr galere11.inria.fr -->
	<xs:simpleType name="HostListType">
		<xs:list itemType="xs:string"/>
	</xs:simpleType>
	<!--globusProcess element has three childs: processReference element which represents a process defined elsewhere in the infrastructure section(ProcessDefinition@id) , environment, and globusOption element  which represents different options of globus command.They may not appear and two attributes: class which is required and can take only one value: org.objectweb.proactive.core.process.globus.GlobusProcess, and hostname which is required and represents the globus host where the RSL request is destinated -->
	<xs:complexType name="GlobusProcessType">
		<xs:sequence>
			<xs:element ref="environment" minOccurs="0"/>
			<xs:element ref="processReference" minOccurs="0"/>
			<xs:element name="globusOption" type="GlobusOptionType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" fixed="org.objectweb.proactive.core.process.globus.GlobusProcess"/>
		<xs:attribute name="hostname" type="xs:string" use="required"/>
	</xs:complexType>
	<!--globusOption element has two childs gramPort element and gisPort element. They should not be modified -->
	<xs:complexType name="GlobusOptionType">
		<xs:sequence>
			<xs:element name="gramPort" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="gisPort" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="globusHostList" type="GlobusHostListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GlobusHostListType">
		<xs:sequence>
			<xs:element name="globusHost" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
